AlignArrayOfStructures: Left
IndentWidth: 4
ColumnLimit: 160
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AlwaysBreakAfterDefinitionReturnType: All
InsertNewlineAtEOF: true
AlignOperands: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
IncludeBlocks: Merge
